/* You can add global styles to this file, and also import other style files */
body {
	width: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.root-container {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(to top, #5ee7df 0, #66a6ff 100%);
}
